// GOOGLE FONT LINK
// font-family: 'Noto Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Be Vietnam Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: "GmarketSansBold";
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// font-family: "LeferiPoint-WhiteObliqueA";
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center-sb() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin center-se() {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin c-center() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin c-center-sb() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@mixin c-center-se() {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
