.rightContainer {
    // width: 40%;
    // height: 100%;
    width: 324px;
    min-width: 324px;
    height: 700px;
    border-radius: 50px;
    background: linear-gradient(#cb0000, #0e1239);
    box-shadow: 5px 5px 10px gray;

    #cityNameBox {
        width: 100%;
        height: 10%;

        .cityName {
            @include c-center;
            width: 100%;
            height: 100%;

            p {
                color: white;
                font-family: 'Poppins', sans-serif;
                line-height: 2.5;
                text-align: center;

                &:first-child {
                    width: 241px;
                    height: 33px;
                    font-size: 1.35rem;
                }
                &:last-child {
                    width: 160px;
                    height: 19px;
                    font-size: 0.9rem;
                    font-weight: 100;
                }
            }
        }
    }

    #contentsBox {
        width: 100%;
        height: calc(45% - 16px);
        margin-top: 16px;

        .buttonBox {
            @include center;
            width: 100%;
            height: 20%;

            .buttonBackground {
                width: 224px;
                height: 35px;
                background-color: #370505;
                border-radius: 10px;
                display: flex;

                button {
                    width: 112px;
                    height: 35px;
                    border: 0;
                    border-radius: 7.5px;
                    outline: 0;
                    cursor: pointer;
                    &.forecast {
                        background-color: transparent;
                        color: #a52727;
                    }
                    &.airquality {
                        background: #ff0000;
                        color: white;
                    }
                }
            }
        }
        .weatherBox {
            width: 100%;
            height: 80%;

            .airCondition {
                @include center;
                width: 100%;
                height: 35%;

                p {
                    text-align: center;
                    font-size: 2.25rem;
                    font-weight: 500;
                    font-family: 'GmarketSansBold';
                    color: #fff;
                }
            }
            .detail {
                width: 100%;
                height: 65%;

                .title {
                    @include center;
                    width: 100%;
                    height: 25%;
                    color: white;

                    p {
                        font-family: 'LeferiPoint-WhiteObliqueA';
                    }
                }
                .data {
                    display: flex;
                    width: 100%;
                    height: 27.5%;
                    // background-color: rgb(187, 127, 255);

                    .dataName {
                        display: flex;
                        align-items: center;
                        width: 50%;
                        height: 100%;
                        font-family: 'LeferiPoint-WhiteObliqueA';

                        p {
                            &:first-child {
                                display: block;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #ffde23;
                                margin-left: 50px;
                            }
                            &:last-child {
                                margin-left: 10px;
                                color: white;
                                font-weight: 300;
                                font-size: 0.9rem;
                            }
                        }
                    }
                    .dataValue {
                        display: flex;
                        align-items: center;
                        justify-content: right;
                        width: 50%;
                        height: 100%;
                        font-family: 'LeferiPoint-WhiteObliqueA';

                        p {
                            color: white;
                            font-weight: 300;
                            margin-right: 50px;

                            span {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    nav {
        @include center-sb;
        width: calc(100% - 100px);
        height: 10%;
        padding: 0 50px;

        i {
            color: rgb(255, 255, 255);
            font-size: 1.15rem;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                color: #799ed0;
            }
        }
    }
}
